<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105423268881-uflpsg9dh33db07doep0ut5q7kq3p542.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105423268881-uflpsg9dh33db07doep0ut5q7kq3p542</string>
	<key>API_KEY</key>
	<string>AIzaSyCUVTqsyl48bI5zq5rSZ4RkGe0PB4EsVM0</string>
	<key>GCM_SENDER_ID</key>
	<string>105423268881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>morganwolff.ChatGPTApp</string>
	<key>PROJECT_ID</key>
	<string>chatgptapp-e3a43</string>
	<key>STORAGE_BUCKET</key>
	<string>chatgptapp-e3a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105423268881:ios:90b824795e48370216d5b0</string>
</dict>
</plist>